#contacts_table {
    max-width: 800px;
    margin: 0 auto;
}

#contacts_table thead {
    color: #FFF;
    background-color: #aeb2b8;    
}

.button {
    width: 25%;
    padding: 14px;
    font-weight: 700;
    background: #f3eff1;
    border-radius: 5px;
    margin: 12px 0 84px;
    border: none;
    cursor: pointer;
    transition: filter 0.2;
}

.button:hover {
    filter: brightness(0.9);
}